.product {
    display: flex;
    justify-content: space-between;
    margin: 10vw;
    padding: 1vw;
    gap: 1vw;
    border: 1px solid lightgrey;
    img {
        border: 1px solid lightgrey;
        height: 60vh;
        width: 40vw;
        object-fit: contain;
    }
    &__nonimage {
        padding: 5vw;
        h2 {
            font-size: 3vw;
            color: orangered;
        }
        p {
            border: 1px solid lightgrey;
            padding: 1vh 1vw;
        }
        &__purchase {
            display: flex;
            .add {
                padding: 0.5vh 1.5vw;
                font-size: 1.5vw;
                font-weight: bolder;
                color: whitesmoke;
                border: 3px solid orange;
                border-radius: 1vw;
                background-color: orangered;
                &:active {
                    background-color: goldenrod;
                    color: black;
                }
            }
        }
    }
}

.back {
            padding: 0.5vh 1.5vw;
            margin-left: 100vw;
            font-weight: bolder;
            font-size: 2vh;
            color: whitesmoke;
            margin-left: 1vw;
            border-radius: 0.5vh;
            border: none;
            box-shadow: 0 0 1vh 0 goldenrod;
            background-color: rgba(255, 69, 0, 0.5);
            &:active {
                background-color: goldenrod ;
            }
}

.notfound {
    margin-top: 10vh;
}